apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}-deployment   # Example: stapp-deployment
spec:
  replicas: ${REPLICA_COUNT}     # Example: 2
  selector:
    matchLabels:
      app: ${APP_NAME}
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      containers:
        - name: ${APP_NAME}-container
          image: ${IMAGE_NAME}:${IMAGE_TAG}   # Example: stapp-image:10
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: ${APP_PORT}      # Example: 8100